{{!< default}}

{{navigation}}

<main class="content" role="main">
    <section class="text-center">
        <img src="{{asset "img/dead_end.jpg"}}" class="post-img">
        <br />
        <br />
        <h2>Dead end.</h2>
        <p>Must have taken a wrong turn somewhere. Try starting over from <a class="error-link text-center" href="{{@blog.url}}">home</a>.</p>
    </section>
</main>

