{{!< default}}

<header class="main-header">
    {{> "nav"}}
    <div class="main-header-title text-center">
        <h1 class="page-title">tag: {{tag.name}}</h1>
        <p class="page-description">{{pagination.total}} posts</p>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
