.post-content {
  margin-top: 4rem;
}

.post-meta {
  margin-top: 2rem;
}

.site-footer {
  margin-top: 2rem;
  padding: 2rem;
}

.blog-logo img {
  width: 10rem;
}

img.author-thumb {
  width: 2.5rem;
  border-radius: 50%;
}
