$header-font-stack: 'Montserrat', Helvetica, Arial, sans-serif;
$content-font-stack: 'Lora', 'Times New Roman', Times, serif;
$footer-height: 15rem;

$primary-color: #00807a;
$secondary-color: #222;
$body-color: #fefefe; // ghostwriter

.post-content {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.post {
  margin-bottom: 2rem;

  img {
    max-height: 35rem;
    display: block;
    margin: auto auto;
  }
}

.post-meta {
  margin-top: 2rem;
}

.blog-logo img {
  width: 10rem;
}

img.author-thumb {
  width: 2.5rem;
  border-radius: 50%;
}

.post-loop {
  margin-top: 5rem;

  .post {
    border-bottom: 1px dashed #aaa;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: 1rem auto;

    .post-title {
      font-weight: bold;
      font-size: large;
      margin-right: 0.5rem;
    }
  }
}

.pagination {
  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6, .post-title {
  font-family: $header-font-stack;
  text-transform: uppercase;
  font-weight: 700;
}

body {
  font-family: $content-font-stack !important;
  font-weight: 400;
  background-color: $body-color; // ghostwriter
}

a {
  color: $primary-color;
}

code {
  font-size: small;
}

pre {
  margin-bottom: 1.3rem;
  overflow: visible;
}

blockquote {
  padding-top: 1.1rem;
  padding-bottom: 0.1rem;
}

.label {
  background-color: $primary-color;
  border: 1px solid $body-color;
  font-size: 0.9rem;
}

.label:hover {
  background-color: #fff;
  color: $primary-color;
  border: 1px solid $primary-color;
}

.main-nav {
  margin-top: 0.5rem;

  li {
    list-style-type: none;
    display: inline-block;
    padding: 0.3rem 0.5rem;

    a {
      font-size: large;
      text-transform: capitalize;
    }
  }
}

.site-footer {
  background-color: $secondary-color;
  color: #AAA; // ghost
  height: $footer-height;
  font-size: large;
  margin-top: 2rem;
  padding: 2rem;

  .copyright {
    margin-top: 4rem;
    margin-bottom: 0.7rem;
  }
}

// http://css-tricks.com/snippets/css/sticky-footer/
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.content-wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.content-wrapper:after {
  content: "";
  display: block;
  height: $footer-height;
}

.share {
  ul {
    margin-top: 1rem;
  }
  li {
    list-style-type: none;
    display: inline-block;
    margin-left: 2rem;
  }
}

#instantclick {
  display: none
}

.columns {
  float: none;
}

.related-posts-wrapper {
  p {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: none;
    margin-left: 0rem;

    li {
      margin-left: 0.5rem;
      a {
        text-transform: uppercase;
        font-size: large;
      }
    }
  }
}

section.comments {
  margin-top: 2.5rem;
}
