.post-content {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.post {
  margin-bottom: 2rem; }

.post-meta {
  margin-top: 2rem; }

.blog-logo img {
  width: 10rem; }

img.author-thumb {
  width: 2.5rem;
  border-radius: 50%; }

.post-loop {
  margin-top: 5rem; }
  .post-loop .post {
    border-bottom: 1px dashed #aaa;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: 1rem auto; }
    .post-loop .post .post-title {
      font-weight: bold;
      font-size: large;
      margin-right: 0.5rem; }

.pagination {
  margin-top: 3rem; }

h1, h2, h3, h4, h5, h6, .post-title {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

body {
  font-family: "Lora", "Times New Roman", Times, serif !important;
  font-weight: 400;
  background-color: #fefefe; }

a {
  color: #00807a; }

code {
  font-size: small; }

pre {
  margin-bottom: 1.3rem; }

blockquote {
  padding-top: 1.1rem;
  padding-bottom: 0.1rem; }

.label {
  background-color: #00807a;
  border: 1px solid #fefefe; }

.label:hover {
  background-color: #fff;
  color: #00807a;
  border: 1px solid #00807a; }

.main-nav {
  margin-top: 0.5rem; }
  .main-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0.3rem 0.5rem; }
    .main-nav li a {
      font-size: large;
      text-transform: capitalize; }

.site-footer {
  background-color: #303030;
  color: #AAA;
  height: 15rem;
  font-size: large;
  margin-top: 2rem;
  padding: 2rem; }
  .site-footer .copyright {
    margin-top: 4rem;
    margin-bottom: 0.7rem; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.content-wrapper {
  min-height: 100%;
  margin-bottom: -15rem; }

.content-wrapper:after {
  content: "";
  display: block;
  height: 15rem; }

.share ul {
  margin-top: 1rem;
  margin-right: 1.8rem; }
.share li {
  list-style-type: none;
  display: inline-block;
  margin-left: 2rem; }
